/** @format */
* {
	--border-grey: rgb(207, 207, 207);
}
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

body {
	width: 100vw;
}

header,
footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 2rem;
	margin-top: 0.5rem;
	border-bottom: 1px solid var(--border-grey);
	border-top: 1px solid var(--border-grey);
}

main {
	max-width: 1000px;
	margin: 0 auto;
}
section {
	margin-block: 1rem;
	padding-inline: 1rem;
}

.container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

article {
	border: 2px solid var(--border-grey);
}

article p,
h3 {
	padding: 0 1rem 0.5rem 1rem;
}
